In [148]:
import pandas as pd

In [149]:
import warnings
warnings.filterwarnings('ignore')

In [150]:
data=pd.read_csv("/home/placement/Downloads/fiat500.csv")

In [151]:
data.describe()

,ID,engine_power,age_in_days,km,previous_owners,lat,lon,price
count,1538.000000,1538.000000,1538.000000,1538.000000,1538.000000,1538.000000,1538.000000,1538.000000
mean,769.500000,51.904421,1650.980494,53396.011704,1.123537,43.541361,11.563428,8576.003901
std,444.126671,3.988023,1289.522278,40046.830723,0.416423,2.133518,2.328190,1939.958641
min,1.000000,51.000000,366.000000,1232.000000,1.000000,36.855839,7.245400,2500.000000
25%,385.250000,51.000000,670.000000,20006.250000,1.000000,41.802990,9.505090,7122.500000
50%,769.500000,51.000000,1035.000000,39031.000000,1.000000,44.394096,11.869260,9000.000000
75%,1153.750000,51.000000,2616.000000,79667.750000,1.000000,45.467960,12.769040,10000.000000
max,1538.000000,77.000000,4658.000000,235000.000000,4.000000,46.795612,18.365520,11100.000000

In [152]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1538 entries, 0 to 1537
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               1538 non-null   int64
 1   model            1538 non-null   object
 2   engine_power     1538 non-null   int64
 3   age_in_days      1538 non-null   int64
 4   km               1538 non-null   int64
 5   previous_owners  1538 non-null   int64
 6   lat              1538 non-null   float64
 7   lon              1538 non-null   float64
 8   price            1538 non-null   int64
dtypes: float64(2), int64(6), object(1)
memory usage: 108.3+ KB

In [153]:
data1=data.drop(['ID','lat','lon'],axis=1)

In [154]:
data1

       model  engine_power  age_in_days      km  previous_owners  price
0     lounge            51          882   25000                1   8900
1        pop            51         1186   32500                1   8800
2      sport            74         4658  142228                1   4200
3     lounge            51         2739  160000                1   6000
4        pop            73         3074  106880                1   5700
...      ...           ...          ...     ...              ...    ...
1533   sport            51         3712  115280                1   5200
1534  lounge            74         3835  112000                1   4600
1535     pop            51         2223   60457                1   7500
1536  lounge            51         2557   80750                1   5990
1537     pop            51         1766   54276                1   7900

[1538 rows x 6 columns]

In [155]:
data2=data.loc[(data.model=='lounge')]

In [156]:
data2

,ID,model,engine_power,age_in_days,km,previous_owners,lat,lon,price
0,1,lounge,51,882,25000,1,44.907242,8.611560,8900
3,4,lounge,51,2739,160000,1,40.633171,17.634609,6000
6,7,lounge,51,731,11600,1,44.907242,8.611560,10750
7,8,lounge,51,1521,49076,1,41.903221,12.495650,9190
11,12,lounge,51,366,17500,1,45.069679,7.704920,10990
...,...,...,...,...,...,...,...,...,...
1528,1529,lounge,51,2861,126000,1,43.841980,10.515310,5500
1529,1530,lounge,51,731,22551,1,38.122070,13.361120,9900
1530,1531,lounge,51,670,29000,1,45.764648,8.994500,10800
1534,1535,lounge,74,3835,112000,1,45.845692,8.666870,4600
1536,1537,lounge,51,2557,80750,1,45.000702,7.682270,5990

In [157]:
data1=pd.get_dummies(data)

In [158]:
data1

,ID,engine_power,age_in_days,km,previous_owners,lat,lon,price,model_lounge,model_pop,model_sport
0,1,51,882,25000,1,44.907242,8.611560,8900,1,0,0
1,2,51,1186,32500,1,45.666359,12.241890,8800,0,1,0
2,3,74,4658,142228,1,45.503300,11.417840,4200,0,0,1
3,4,51,2739,160000,1,40.633171,17.634609,6000,1,0,0
4,5,73,3074,106880,1,41.903221,12.495650,5700,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
1533,1534,51,3712,115280,1,45.069679,7.704920,5200,0,0,1
1534,1535,74,3835,112000,1,45.845692,8.666870,4600,1,0,0
1535,1536,51,2223,60457,1,45.481541,9.413480,7500,0,1,0
1536,1537,51,2557,80750,1,45.000702,7.682270,5990,1,0,0
1537,1538,51,1766,54276,1,40.323410,17.568270,7900,0,1,0

In [159]:
data1.shape

(1538, 11)

In [160]:
y=data1['price']
x=data1.drop('price',axis=1)

In [161]:
y

0       8900
1       8800
2       4200
3       6000
4       5700
        ...
1533    5200
1534    4600
1535    7500
1536    5990
1537    7900
Name: price, Length: 1538, dtype: int64

In [162]:
x

,ID,engine_power,age_in_days,km,previous_owners,lat,lon,model_lounge,model_pop,model_sport
0,1,51,882,25000,1,44.907242,8.611560,1,0,0
1,2,51,1186,32500,1,45.666359,12.241890,0,1,0
2,3,74,4658,142228,1,45.503300,11.417840,0,0,1
3,4,51,2739,160000,1,40.633171,17.634609,1,0,0
4,5,73,3074,106880,1,41.903221,12.495650,0,1,0
...,...,...,...,...,...,...,...,...,...,...
1533,1534,51,3712,115280,1,45.069679,7.704920,0,0,1
1534,1535,74,3835,112000,1,45.845692,8.666870,1,0,0
1535,1536,51,2223,60457,1,45.481541,9.413480,0,1,0
1536,1537,51,2557,80750,1,45.000702,7.682270,1,0,0
1537,1538,51,1766,54276,1,40.323410,17.568270,0,1,0

In [163]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=42)

In [164]:
x_test.head()

,ID,engine_power,age_in_days,km,previous_owners,lat,lon,model_lounge,model_pop,model_sport
481,482,51,3197,120000,2,40.174702,18.167629,0,1,0
76,77,62,2101,103000,1,45.797859,8.644440,0,1,0
1502,1503,51,670,32473,1,41.107880,14.208810,1,0,0
669,670,51,913,29000,1,45.778591,8.946250,1,0,0
1409,1410,51,762,18800,1,45.538689,9.928310,1,0,0

In [165]:
y_test.head()

481     7900
76      7900
1502    9400
669     8500
1409    9700
Name: price, dtype: int64

In [166]:
x_train.head()

,ID,engine_power,age_in_days,km,previous_owners,lat,lon,model_lounge,model_pop,model_sport
527,528,51,425,13111,1,45.022388,7.58602,1,0,0
129,130,51,1127,21400,1,44.332531,7.54592,1,0,0
602,603,51,2039,57039,1,40.748241,14.52835,0,1,0
331,332,51,1155,40700,1,42.143860,12.54016,1,0,0
323,324,51,425,16783,1,41.903221,12.49565,1,0,0

In [167]:
y_train.head()

527    9990
129    9500
602    7590
331    8750
323    9100
Name: price, dtype: int64

In [169]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression() 
reg.fit(x_train,y_train)

LinearRegression()

In [170]:
ypred=reg.predict(x_test)

In [171]:
ypred

array([ 5819.19308764,  7248.82914161,  9741.8936974 ,  9798.98033074,
       10055.00624601,  9551.4955679 ,  9758.01743879, 10122.9778365 ,
        9654.9661814 ,  9251.1403257 , 10478.09512253,  7807.3005255 ,
        7705.15873781,  6295.63244894,  9545.40486313, 10422.92177704,
        9616.90811615,  7756.9171161 ,  4893.88454414, 10581.46142719,
       10465.24078346, 10443.29318231,  7518.43696046, 10028.21911459,
        6990.73118896,  8989.86900819,  4823.51364349,  6989.03118684,
        7822.83203734,  9683.17944083,  7344.21343132,  5341.43860798,
        5420.78405336,  5092.38401339,  8971.44357515,  5702.81242412,
        9920.16285466,  8334.58448277,  6220.93323723,  8389.23958511,
        9695.84208061,  6859.59630725,  9101.22635456, 10063.22592995,
        8621.83915759, 10175.06753933,  9063.21918346,  8867.24865352,
        7094.44228184,  9058.37693565,  9474.82390731, 10406.09102832,
       10112.65006224,  6820.90463865,  9700.36507783,  9382.18149429,
        9632.57617775, 10553.81356008,  9847.21129432,  7247.16814789,
        9990.23331336,  7084.23300123,  9977.34233656,  7245.01115798,
        6490.89305576,  9737.86785115,  9853.54349825,  8568.7125607 ,
        8506.81438703,  6484.69051659,  7883.1895563 ,  6870.28308427,
        8263.36833348, 10551.03496347,  7434.71134313,  8637.85174602,
        9762.07817037, 10010.4780977 ,  7324.68808828,  9527.73426933,
       10450.80515505,  8066.58173619, 10492.62679897,  3710.6121898 ,
       10391.05986404, 10575.63523209,  6133.08783935, 10346.71696616,
        6553.41814479,  9091.6637332 , 10479.33721599,  9408.65803116,
        6871.80469669,  3255.22125642, 10146.47015989,  9766.95479654,
        6164.52040658,  5111.46844316,  9066.01493801,  9756.3650463 ,
        5414.5947869 ,  5598.7203379 , 10075.79858758,  8128.21212362,
       10491.36768849,  6731.76253756,  6737.96085675,  5824.42019158,
        8830.1166215 ,  9985.15913274, 10382.71023744,  9468.0263143 ,
        8968.98195986, 10125.34089439, 10458.2651463 , 10278.08804577,
        9671.6787843 ,  9329.13714009, 10314.76913411,  5264.56339184,
        9702.21408416,  6171.43279386,  8986.33052433, 10216.19272235,
        9147.3967606 ,  9826.31604212,  8298.03251468,  8311.88829156,
        7566.99918427, 10585.88056004, 10365.38883807, 10134.48005849,
       10264.36282573,  6915.44935844,  9653.38748676, 10541.2624204 ,
        9560.92995691,  8036.36881073,  9719.26456362,  7852.08945425,
       10512.80396135,  9252.12747599,  5726.61394851,  6730.65776903,
        8210.66023805, 10515.83562762, 10009.26844663,  9700.98953567,
       10713.27840286,  7459.58763216,  6787.00375841,  8104.3079721 ,
       10354.65990513,  8853.07922772,  8364.21417446,  9715.8036014 ,
        9717.9187229 , 10052.70924095, 10413.05171654,  7110.93559148,
        9677.88306475,  6332.86407216,  7919.52949511,  9426.02785254,
        4922.86060346,  9277.4623152 , 10063.26423893, 10214.94768556,
        6434.36110141,  9768.93083352,  8988.12723422,  5227.79616128,
        5571.30440259,  4530.22663156, 10314.20984456, 10113.71226961,
        5360.80939407,  8630.38080588,  6927.12547116,  9966.57630777,
       10153.96314322,  5873.22039039,  9650.12316742,  9596.30428421,
        9210.62472152,  9107.96642063, 10077.12276256,  9887.85750934,
        7433.33664508,  5190.30679382,  9222.53641469, 10288.97675716,
        5539.64210263, 10685.55785899,  6126.05232762,  9797.2144396 ,
        9764.16793219,  7734.48412536,  6599.33938152,  9893.11163791,
        8420.76749148,  9136.0556585 ,  6219.28284751, 10460.47400864,
        6426.36893592,  8693.98069786,  8389.820911  ,  9693.29793621,
        8004.80972809, 10164.15734203, 10092.12177753, 10038.13615861,
       10420.91991521,  8559.36348376,  6802.41765474,  9463.60914351,
        6595.32443302, 10452.79948148,  8985.36620712, 10381.62641587,
        9044.61727199,  9858.25635967,  8431.44396488,  9332.03262887,
        9968.53895502,  8373.53182638,  4730.06355541, 10128.50049952,
        9951.43993841, 10514.34035875,  9980.65273426,  4951.73872798,
        7295.05742766,  9562.10832139,  9907.19829915,  5552.67362672,
        9997.10882667,  5143.10046698,  8426.58953237,  7496.77298917,
        7788.58793224,  9652.49535927,  8621.5141248 , 10372.95686992,
        7121.85593538,  9807.45515506,  8055.56244116,  7460.56572873,
       10280.14093316, 10476.37888795,  5412.86365493,  9159.69570754,
        9570.24451488, 10631.67197425, 10191.16722391,  9246.40215298,
        6018.78924109,  9615.95984878, 10520.04528994,  8915.29037502,
        8227.95081736,  9888.28916316,  9469.40296538,  9984.09733556,
       10405.22999333, 10510.19490347,  9686.14366923,  8096.65870148,
       10493.03817153, 10386.55525134,  8807.23351267,  8280.41931335,
        6855.39153451, 10228.17167191,  4741.4113269 ,  8847.08211454,
        5777.60377085, 10140.98307313,  8867.00881496, 10115.19879685,
        9581.17073619, 10485.09114495, 10213.14966572,  9750.35350756,
        9670.90795615,  6722.33834114,  9564.21623605,  8616.86940955,
        6677.30400889, 10373.25962634, 10171.86282428, 10201.5589761 ,
        5933.51739776,  8804.77586124,  9636.29957689,  5533.81938983,
        8355.20070696,  9637.44491292,  4357.89955793,  9958.32874977,
        9779.38235089,  7862.66884791, 10129.74800911, 10459.05959668,
       10231.78369129,  6764.79775959,  6588.0328491 , 10326.6417079 ,
        8491.28578378,  5397.7721542 ,  9806.02134747,  4658.41362832,
        7847.09726007,  5434.32636575,  9947.50805756, 10393.51476648,
        9714.15455674,  8720.24438517,  7747.17735748,  4295.00814836,
        9775.32352003, 10408.91107298,  5697.84384985, 10227.82627464,
        9499.28759155,  8063.91598111,  5558.91344769,  9800.12594902,
       10534.65340782,  6255.9526295 ,  9623.6837517 ,  9474.68837969,
       10386.79158214,  9590.83795102,  9586.78339   ,  9678.64671073,
        6877.78966053,  7815.97344878, 10292.13370401, 10416.92788043,
        7338.21169569,  9995.55545352, 10491.24268381, 10629.34614975,
       10375.07768021, 10067.07191604,  9568.3301962 ,  7811.49275809,
        9221.47869229,  9935.53077254,  9888.11152759,  9905.19892591,
        9447.64222531,  9682.52138303,  9634.69968187,  9811.31864154,
        8756.03555754,  6193.65129714,  6354.87146951,  8207.3621036 ,
        8598.2667194 ,  6487.89489493,  6832.90460176,  5301.78688917,
        8187.42493969,  9828.98271296,  7806.33327627,  9782.73212406,
       10085.78321491,  5680.95952529,  9926.93972284,  9950.95892668,
        8098.05368723,  4565.24396633, 10709.71543595,  3901.21685234,
        9783.97388187, 10514.70878639,  5702.77097363,  5515.28972165,
       10534.65884212,  6791.82026062,  9022.87088921, 10542.0619477 ,
        9388.22098306,  9969.20840168,  8529.3315146 ,  7909.48052462,
       10371.21600688,  5343.40955708,  9793.46202119, 10248.73590685,
       10350.88894338,  9418.6649538 ,  9246.75432375,  9726.77158038,
        5646.60360194,  4954.59993355,  4854.00609399,  9667.14070802,
        6106.03185061,  9895.4585107 , 10067.23023087,  4939.52480184,
        8024.89878537,  9702.49506011,  5897.90997934, 10144.6495611 ,
        5395.93461448,  9622.44225965, 10171.86736173, 10103.58498957,
        9481.19877071,  4918.69676305,  5809.10532945,  7076.07274648,
       10066.02424638, 10430.97776811, 10050.79995384,  7801.53792597,
        8738.32379912,  9963.07184541, 10250.69391036,  9856.67153089,
        8383.84152492,  9307.84587539,  8530.90168144,  9859.23075392,
        9733.54483496,  9744.86150125,  6741.410463  ,  7342.18893371,
        8772.20704958,  9959.77345301,  9692.26944677, 10524.54487623,
        8221.41396472,  6722.97284178,  9894.93188478,  8849.71168914,
        9786.53980838, 10262.59139607, 10382.67498044,  9988.41681508,
        9336.80741819,  9902.52039123,  9109.63147621, 10147.01866123,
        7831.00036415,  6059.56493387,  8827.96184211, 10302.33416028,
        5660.1705204 , 10068.83508852,  9595.70115109,  7698.86996869,
        9319.54039166,  7421.93077111, 10397.65812756, 10008.49656229,
       10572.26845119,  9890.79746015,  9995.86970892,  6328.88724858,
       10434.22517244,  9981.92833783, 10478.31842709,  9584.67757276,
        9795.59966427,  6215.62308925,  8012.67431998, 10289.49085168,
        6351.65397303,  7447.35295678,  9954.0491226 ,  6753.92994153,
        7806.68212311,  5292.72896136,  4479.07164048,  8743.32482334,
        6930.07078154,  7474.31727616,  6868.13323766,  7152.35036884,
        9982.54626745,  8788.00494177,  9330.50348958, 10377.44826079,
       10022.1505514 , 10337.05151745,  9800.2030809 ,  5814.72404507,
        9709.16172189,  7742.98208443,  5572.51518045,  4925.50951785,
        9768.41037373,  9221.55601083, 10071.81783204,  6262.02686535,
        8575.98018953, 10437.10459474,  5155.27599558, 10121.59338446,
        6288.64828167, 10016.50553712,  8248.74649184, 10337.34582013])

In [172]:
from sklearn.metrics import r2_score
r2_score (y_test,ypred)

0.8428319728488683

In [173]:
from sklearn.metrics import mean_squared_error
mean_squared_error(ypred,y_test)

577189.6736608233

In [174]:
import math
a=577189.6736608233
print(math.sqrt(a))

759.7300005007195

In [175]:
Results=pd.DataFrame(columns=['price','predicted'])
Results['price']=y_test
Results['predicted']=ypred
Results=Results.reset_index()
Results['Id']=Results.index
Results.head(15)

    index  price     predicted  Id
0     481   7900   5819.193088   0
1      76   7900   7248.829142   1
2    1502   9400   9741.893697   2
3     669   8500   9798.980331   3
4    1409   9700  10055.006246   4
5    1414   9900   9551.495568   5
6    1089   9900   9758.017439   6
7    1507   9950  10122.977837   7
8     970  10700   9654.966181   8
9    1198   8999   9251.140326   9
10   1088   9890  10478.095123  10
11    576   7990   7807.300526  11
12    965   7380   7705.158738  12
13   1488   6800   6295.632449  13
14   1432   8900   9545.404863  14

In [176]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge

alpha = [1e-15, 1e-10, 1e-8, 1e-4, 1e-3,1e-2, 1, 5, 10, 20,30]

ridge = Ridge()

parameters = {'alpha': alpha}

ridge_regressor = GridSearchCV(ridge, parameters)

ridge_regressor.fit(x_train, y_train)

GridSearchCV(estimator=Ridge(),
             param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.0001, 0.001, 0.01, 1,
                                   5, 10, 20, 30]})

In [177]:
ridge_regressor.best_params_

{'alpha': 30}

In [178]:
ypred=ridge_regressor.predict(x_test)

In [179]:
ypred

array([ 5819.29853963,  7264.57491791,  9738.88270579,  9794.47839507,
       10050.35072397,  9548.82126342,  9750.20283681, 10118.76944676,
        9656.2363147 ,  9247.20526971, 10474.46954   ,  7800.22901654,
        7695.77817109,  6317.72759712,  9542.31591964, 10420.56401819,
        9641.41151189,  7746.00639631,  4909.8836403 , 10575.9590411 ,
       10447.28811339, 10440.93292264,  7492.38838409, 10023.77691534,
        6993.68728961,  9012.08291864,  4822.19326199,  6980.28023648,
        7816.98010837,  9677.40953383,  7336.83285116,  5328.48898357,
        5430.56724837,  5073.55505956,  8936.61797371,  5693.27871402,
        9939.05168141,  8309.31737942,  6213.4861627 ,  8409.23567191,
        9693.0168448 ,  6873.88260945,  9125.50501592, 10086.14831587,
        8615.86224143, 10176.53613302,  9084.51866352,  8863.55539547,
        7082.99237491,  9054.89062122,  9472.31391242, 10401.71056408,
       10110.24411314,  6837.93965878,  9697.35103307,  9405.38998926,
        9653.58056603, 10549.50117936,  9840.96037592,  7263.00085407,
        9985.59074909,  7075.08499779,  9973.28948478,  7235.14597592,
        6479.76739925,  9738.88533685,  9849.24462578,  8587.72121603,
        8500.85578807,  6473.43468594,  7872.26497993,  6871.81868177,
        8258.28361541, 10545.55397382,  7426.43055818,  8629.44613409,
        9759.28575492, 10007.64053619,  7318.94778931,  9534.1819434 ,
       10446.39338922,  8016.83688672, 10490.27721015,  3727.04858464,
       10386.40330663, 10555.26691105,  6121.38850117, 10344.63868428,
        6546.12525467,  9087.97390165, 10475.62590366,  9427.48221066,
        6860.02440692,  3223.68658644, 10170.52350867,  9764.24987823,
        6184.2270352 ,  5098.1117614 ,  9073.88814197,  9753.39373482,
        5401.15645829,  5616.13292509, 10072.87922856,  8145.33104129,
       10486.96240918,  6747.35426654,  6729.41868462,  5799.87784165,
        8851.80487323,  9980.06504851, 10379.98137143,  9463.18029634,
        8949.52803646, 10147.06889506, 10455.91071524, 10274.13722496,
        9668.53877772,  9349.7876822 , 10314.15374407,  5278.30765939,
        9699.10257938,  6144.80217564,  8982.95888117, 10212.7418325 ,
        9140.21548837,  9823.3364389 ,  8318.55485857,  8316.68974729,
        7559.61258566, 10581.22218885, 10363.31828882, 10115.46121408,
       10259.63550465,  6929.62502052,  9649.14120932, 10536.74566407,
        9558.18419008,  8040.02449476,  9715.2030776 ,  7846.83989732,
       10509.18710522,  9245.90472842,  5704.07535022,  6747.9793511 ,
        8232.04186689, 10511.23429883, 10005.43238236,  9683.82484393,
       10679.06699399,  7479.6370964 ,  6777.21496508,  8121.10661371,
       10350.27018708,  8847.4470316 ,  8384.10741769,  9710.18894504,
        9715.08246299, 10074.00937496, 10408.5464666 ,  7128.92852928,
        9675.31151561,  6324.45971996,  7913.58053619,  9447.50287817,
        4910.48789745,  9272.85930349, 10059.8600196 , 10208.16683637,
        6424.27308569,  9765.92127836,  9010.36302889,  5243.33125513,
        5560.89380276,  4544.86518394, 10309.92307618, 10108.94304496,
        5355.9718172 ,  8651.0075696 ,  6916.8763286 ,  9990.07423498,
       10151.95533468,  5859.79372129,  9646.32807242,  9593.14708936,
        9191.05354568,  9104.56445936, 10074.09680298,  9883.73123652,
        7448.88749133,  5205.28584391,  9248.11037068, 10284.58267282,
        5515.61460553, 10637.80199529,  6117.21397029,  9794.40614702,
        9761.35820049,  7755.05912006,  6589.68354113,  9890.47845269,
        8411.33482129,  9086.82881637,  6205.73076357, 10458.11617009,
        6416.11321922,  8713.31111503,  8381.82646459,  9690.26359442,
        8030.61237702, 10157.51131199, 10088.55163625, 10020.33512933,
       10417.37422649,  8553.28080049,  6789.89771886,  9458.1086226 ,
        6586.60293481, 10448.33625069,  9008.2195937 , 10379.65456761,
        9040.51660309,  9855.94123885,  8449.02238523,  9353.28263   ,
        9992.00492953,  8367.2458588 ,  4745.04546898, 10126.08602439,
        9974.90336559, 10512.43478463,  9980.78288537,  4967.89915027,
        7285.19640131,  9559.0790031 ,  9900.66209977,  5542.57829343,
       10019.89323592,  5119.18258753,  8418.64510079,  7515.6148229 ,
        7780.40846668,  9675.23910525,  8615.42670573, 10370.98309435,
        7112.95377762,  9801.15433923,  8049.86383593,  7451.48984615,
       10266.80725536, 10472.47488713,  5430.26234687,  9180.51728152,
        9566.36673761, 10613.7169556 , 10186.49315371,  9267.8122634 ,
        6026.76489975,  9613.31433482, 10515.68604314,  8934.7007011 ,
        8221.76154383,  9885.40212076,  9464.61010715,  9978.04983934,
       10400.58924564, 10506.24967924,  9681.8983746 ,  8091.16445692,
       10487.58902307, 10383.47603953,  8826.93438535,  8274.36436276,
        6841.02831597, 10250.44194274,  4724.16296711,  8826.66536569,
        5753.37272255, 10136.08149053,  8861.45157663, 10108.84155586,
        9578.12459375, 10482.19533549, 10208.68182109,  9772.36347592,
        9667.89120408,  6740.42652816,  9561.92359475,  8630.36900946,
        6668.69943021, 10368.64973394, 10165.01514029, 10199.43073503,
        5907.08317641,  8799.20714084,  9634.20379431,  5526.32241607,
        8349.0443571 ,  9635.34736349,  4372.94530427,  9955.53889306,
        9776.82446131,  7849.35915932, 10125.73933428, 10457.18006269,
       10228.66379851,  6783.67606492,  6599.38827125, 10324.21966335,
        8512.75890116,  5412.66672723,  9802.92539443,  4645.12549675,
        7842.16929979,  5423.7275484 ,  9943.52859056, 10391.28316184,
        9708.63289806,  8715.7214097 ,  7742.57441535,  4309.22970493,
        9772.34601561, 10405.36305469,  5690.05821284, 10224.60177578,
        9495.97513554,  8053.91578782,  5575.58272614,  9797.12875312,
       10531.06009217,  6247.40207358,  9617.46664473,  9467.51721279,
       10382.18395477,  9610.93796484,  9615.15065691,  9700.98304948,
        6894.10637303,  7835.80789437, 10290.05820514, 10413.38357737,
        7329.50077523,  9991.62057621, 10486.64458316, 10612.26239396,
       10397.25507285, 10088.33221134,  9564.36683635,  7801.48958365,
        9228.75308407,  9932.37995481,  9885.03749903,  9902.3839432 ,
        9427.72810207,  9678.29139728,  9631.61767119,  9808.68587382,
        8747.82130219,  6184.61312823,  6371.06695898,  8226.55168494,
        8618.27782748,  6477.02738285,  6824.85765984,  5298.56322078,
        8180.72877208,  9826.01413432,  7798.4213748 ,  9779.73107119,
       10108.54006588,  5695.20994386,  9921.96901068,  9948.00634944,
        8091.45828543,  4553.57993727, 10676.9123612 ,  3913.70517371,
        9787.49227123, 10510.98484958,  5678.34371911,  5504.45410711,
       10529.00142161,  6792.9985077 ,  9015.14487472, 10522.85704705,
        9384.24928994,  9965.87500894,  8550.60049985,  7904.07863103,
       10369.05431089,  5335.48709986,  9790.48282836, 10244.69868256,
       10348.82102204,  9442.98647024,  9240.02375151,  9723.68756752,
        5636.5650812 ,  4970.49365682,  4870.00778649,  9661.53190244,
        6095.11260727,  9890.77254319, 10062.00081435,  4928.98901324,
        8019.86164158,  9699.21758773,  5872.21103077, 10146.33450578,
        5386.78578198,  9619.58391037, 10168.52539232, 10100.91666326,
        9502.84745161,  4908.7675751 ,  5800.1603846 ,  7092.36832231,
       10059.61692126, 10426.97867512, 10031.68342339,  7794.84205008,
        8735.02381578,  9985.30385752, 10249.94987777,  9838.78928135,
        8376.17536966,  9327.23433962,  8551.4986496 ,  9853.99169068,
        9730.68891596,  9742.03021658,  6758.29052835,  7333.64059404,
        8767.55252989,  9954.60251116,  9689.18976916, 10518.68577544,
        8215.41062615,  6740.74375708,  9891.43271204,  8846.34308433,
        9787.71435888, 10284.80269769, 10377.26542361,  9985.75549468,
        9334.82239092,  9899.86265965,  9131.68036307, 10142.07362702,
        7850.11930972,  6036.89191065,  8822.40111755, 10298.73215543,
        5661.07141544, 10091.26468645,  9592.63059754,  7713.96223221,
        9337.5242562 ,  7412.93503378, 10393.53023991, 10005.28607789,
       10569.81243245,  9887.91479486,  9993.04472677,  6345.90677451,
       10406.11675659,  9976.7463972 , 10476.25615123,  9605.39006187,
        9789.23452735,  6207.11463678,  8006.26556517, 10286.9142445 ,
        6343.8558518 ,  7439.23957015,  9936.10356772,  6746.52749157,
        7785.239399  ,  5296.21945591,  4494.61249765,  8737.75165829,
        6947.95007781,  7461.64909322,  6860.56781875,  7143.63616281,
        9978.60668194,  8784.65481339,  9353.31846249, 10375.86235391,
       10045.0996986 , 10334.97463794,  9795.89647905,  5795.52592729,
        9706.07513986,  7735.81415577,  5587.72279719,  4940.540151  ,
        9765.55887233,  9243.64731493, 10068.39854787,  6277.91996681,
        8597.70516772, 10433.99796525,  5165.95101545, 10116.69278823,
        6305.05354214, 10036.60293771,  8243.62512214, 10335.36873074])

In [180]:
ridge=Ridge(alpha=30)
ridge.fit(x_train,y_train)
y_pred_ridge=ridge.predict(x_test)

In [181]:
from sklearn.metrics import mean_squared_error
Ridge_Error=mean_squared_error(y_pred_ridge,y_test)
Ridge_Error

574728.5696156605

In [182]:
from sklearn.metrics import r2_score
r2_score (y_test,y_pred_ridge)

0.8435021284061197

In [184]:
Results=pd.DataFrame(columns=['Actual','predicted'])
Results['Actual']=y_test
Results['Predicted']=ypred
Results=Results.reset_index()
Results['Id']=Results.index
Results.head(15)

    index  Actual predicted     Predicted  Id
0     481    7900       NaN   5819.298540   0
1      76    7900       NaN   7264.574918   1
2    1502    9400       NaN   9738.882706   2
3     669    8500       NaN   9794.478395   3
4    1409    9700       NaN  10050.350724   4
5    1414    9900       NaN   9548.821263   5
6    1089    9900       NaN   9750.202837   6
7    1507    9950       NaN  10118.769447   7
8     970   10700       NaN   9656.236315   8
9    1198    8999       NaN   9247.205270   9
10   1088    9890       NaN  10474.469540  10
11    576    7990       NaN   7800.229017  11
12    965    7380       NaN   7695.778171  12
13   1488    6800       NaN   6317.727597  13
14   1432    8900       NaN   9542.315920  14

In [185]:
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import GridSearchCV

elastic = ElasticNet()

parameters = {'alpha': [1e-15, 1e-10, 1e-8, 1e-4, 1e-3,1e-2, 1, 5, 10, 20]}

elastic_regressor = GridSearchCV(elastic, parameters)

elastic_regressor.fit(x_train, y_train)

GridSearchCV(estimator=ElasticNet(),
             param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.0001, 0.001, 0.01, 1,
                                   5, 10, 20]})

In [186]:
elastic_regressor.best_params_

{'alpha': 0.01}

In [188]:
elastic=ElasticNet(alpha=.01)
elastic.fit(x_train,y_train)
y_pred_elastic=elastic.predict(x_test)

In [189]:
y_pred_elastic

array([ 5818.88155606,  7251.60740134,  9741.37548309,  9798.17563202,
       10054.18656906,  9551.03709384,  9756.60308305, 10122.24386003,
        9655.23079132,  9250.43675403, 10477.46946422,  7805.98706383,
        7703.41076005,  6299.65982145,  9544.86952947, 10422.52128897,
        9622.08375661,  7754.80253699,  4897.38480628, 10580.47637966,
       10461.71330862, 10442.89200323,  7512.81872938, 10027.42619282,
        6990.9795985 ,  8993.93966292,  4822.9274055 ,  6987.38971162,
        7821.74361059,  9682.14401582,  7342.84571741,  5338.98378321,
        5422.36411921,  5088.69094616,  8964.54155191,  5701.00133273,
        9923.63970799,  8329.65576797,  6219.5421374 ,  8392.88958456,
        9695.35125166,  6862.17433129,  9106.3590491 , 10067.46187307,
        8620.73186465, 10175.36762819,  9067.11601592,  8866.57789002,
        7092.28977184,  9057.74520111,  9474.38711846, 10405.31440756,
       10112.23689137,  6823.98653466,  9699.84010068,  9386.45543089,
        9637.09234337, 10553.05108845,  9846.08937468,  7250.04609281,
        9989.41187642,  7082.51579887,  9976.61490792,  7243.17422389,
        6488.79520193,  9738.09464099,  9852.77779753,  8572.18811531,
        8505.72502159,  6482.56240442,  7881.15444662,  6870.90829793,
        8262.43238047, 10550.05609925,  7433.16232868,  8636.30752919,
        9761.59105178, 10009.97827967,  7323.62659582,  9528.65829603,
       10450.02489666,  8056.65340905, 10492.22882524,  3714.19105968,
       10390.24254524, 10571.6589121 ,  6130.80533033, 10346.36874591,
        6552.0422361 ,  9091.0081194 , 10478.69890499,  9412.1242362 ,
        6869.59588195,  3248.93815512, 10150.90936327,  9766.47877384,
        6168.10074712,  5108.94108086,  9067.20466388,  9755.85263868,
        5412.1972957 ,  5602.50780812, 10075.2810221 ,  8131.34366299,
       10490.58748945,  6734.57892171,  6736.35738956,  5819.59669035,
        8834.10103089,  9984.25874655, 10382.22858907,  9467.16325163,
        8965.15818469, 10129.35638469, 10457.86569547, 10277.38531366,
        9671.11888479,  9332.93741618, 10314.69600549,  5267.66332871,
        9701.6682321 ,  6166.21215518,  8985.72326744, 10215.59062307,
        9145.56350139,  9825.80134792,  8301.77771974,  8312.48383457,
        7565.62656576, 10585.06744557, 10365.05185025, 10130.76039786,
       10263.52909312,  6918.00562936,  9652.63855373, 10540.45683321,
        9560.45606508,  8036.74723267,  9718.55265956,  7851.12948639,
       10512.1671381 ,  9250.99437844,  5722.17153709,  6733.80031991,
        8214.57658093, 10515.01814073, 10008.59057337,  9697.60797387,
       10706.49707656,  7463.24651173,  6785.169519  ,  8107.37840024,
       10353.89101927,  8852.04537843,  8367.85879195,  9714.7800979 ,
        9717.42156236, 10056.63094462, 10412.24924372,  7114.21049926,
        9677.43703106,  6331.28394087,  7918.4436153 ,  9429.9864329 ,
        4920.52203254,  9276.62216921, 10062.6600068 , 10213.7212047 ,
        6432.45404699,  9768.4072951 ,  8992.22071412,  5230.56918674,
        5569.3384665 ,  4532.84194866, 10313.44630807, 10112.85953984,
        5360.08091854,  8634.15815045,  6925.20196718,  9970.91636007,
       10153.63701376,  5870.53322835,  9649.44832033,  9595.74913972,
        9206.7845161 ,  9107.35938276, 10076.58443339,  9887.11642192,
        7436.15311225,  5192.97696795,  9227.24396708, 10288.20647396,
        5534.90174794, 10676.04977885,  6124.38259157,  9796.72275638,
        9763.68175411,  7738.24961184,  6597.51083423,  9892.65401981,
        8419.02754917,  9126.25545326,  6216.73730552, 10460.07356811,
        6424.42549217,  8697.52494937,  8388.35374239,  9692.77281978,
        8009.55637859, 10162.96410077, 10091.48860213, 10034.62047337,
       10420.30367606,  8558.25573402,  6800.08229778,  9462.60490161,
        6593.68336068, 10452.00771487,  8989.57513036, 10381.30389701,
        9043.87681773,  9857.86768972,  8434.64046455,  9335.93698476,
        9972.86969142,  8372.35860545,  4732.73647379, 10128.08354187,
        9955.76989959, 10514.03143298,  9980.70052925,  4955.28502043,
        7293.21726971,  9561.58442285,  9906.01272459,  5550.75524427,
       10001.30630004,  5138.39334721,  8425.1088789 ,  7500.20770018,
        7787.05958168,  9656.68534262,  8620.393183  , 10372.63377258,
        7120.18649322,  9806.31985839,  8054.50739165,  7458.86917408,
       10277.4609217 , 10475.69066027,  5415.99975799,  9163.51659829,
        9569.55875529, 10628.14412815, 10190.33547142,  9250.33506993,
        6020.03639259,  9615.50685501, 10519.27507246,  8918.84672489,
        8226.81578251,  9887.79559571,  9468.55193704,  9983.01088333,
       10404.41194962, 10509.51168976,  9685.38484653,  8095.63360404,
       10492.07667003, 10386.0311678 ,  8810.83798048,  8279.30331912,
        6852.55625949, 10232.28451644,  4738.00196125,  8843.09121296,
        5772.8494766 , 10140.10263619,  8866.0095364 , 10114.06244189,
        9580.64196651, 10484.58728845, 10212.35558206,  9754.4112828 ,
        9670.38792788,  6725.61040793,  9563.81697403,  8619.24329178,
        6675.70014931, 10372.43937293, 10170.62217635, 10201.19198585,
        5928.33707255,  8803.7731164 ,  9635.95145239,  5532.38274936,
        8354.06874832,  9637.09627524,  4361.25290305,  9957.84274743,
        9778.93828679,  7860.06251872, 10129.03778626, 10458.7581618 ,
       10231.24508481,  6768.87365003,  6589.97729815, 10326.2263772 ,
        8495.21478879,  5401.0932607 ,  9805.48446063,  4656.01549543,
        7846.20216747,  5432.32896768,  9946.8117048 , 10393.13085685,
        9713.16989415,  8719.42483281,  7746.33526629,  4297.54147924,
        9774.80934186, 10408.29413173,  5696.36063358, 10227.26299034,
        9498.7017846 ,  8061.98850415,  5561.90158598,  9799.60607422,
       10534.02376222,  6254.34373685,  9622.57252386,  9472.86011893,
       10385.97201488,  9594.53223931,  9592.01016868,  9683.42107671,
        6880.74408717,  7819.59265706, 10291.79513444, 10416.31203791,
        7336.58369261,  9994.86551323, 10490.42609211, 10625.97937402,
       10379.16758086, 10071.00189329,  9567.62041347,  7809.64426461,
        9222.55968344,  9934.98302641,  9887.5786086 ,  9904.71148213,
        9443.74482039,  9681.7602636 ,  9634.16653862,  9810.85500385,
        8753.99389155,  6191.95257309,  6357.78479235,  8210.88054142,
        8601.94381497,  6485.78292885,  6831.39364777,  5301.14478798,
        8186.17838658,  9828.45400953,  7804.86437757,  9782.21109151,
       10089.9692512 ,  5683.51191743,  9926.04247869,  9950.44850278,
        8096.81343855,  4563.03315442, 10703.1994924 ,  3904.07846191,
        9784.65407505, 10514.0668599 ,  5697.95015032,  5513.24846951,
       10533.64388722,  6791.65841524,  9021.46429108, 10538.30422782,
        9387.50397498,  9968.62832582,  8533.9020016 ,  7908.4754783 ,
       10370.8494907 ,  5341.89902733,  9792.94738476, 10248.02664011,
       10350.54844473,  9423.80770771,  9245.51912236,  9726.23203955,
        5644.68984243,  4957.4496078 ,  4857.5234768 ,  9666.13298988,
        6103.96475844,  9894.62871788, 10066.29838607,  4937.51301369,
        8023.97190552,  9701.91681582,  5892.87810395, 10145.00728766,
        5394.2029422 ,  9621.93260846, 10171.27927824, 10103.12929991,
        9485.19195987,  4916.8014674 ,  5807.42230182,  7079.01567277,
       10064.8774463 , 10430.28468041, 10047.04902523,  7800.30201801,
        8737.74001416,  9967.17690018, 10250.60237112,  9853.15852114,
        8382.42128964,  9311.39890706,  8534.69015568,  9858.28456494,
        9733.04512775,  9744.36301327,  6744.47145809,  7340.58501293,
        8771.36036243,  9958.84706592,  9691.73709253, 10523.5061146 ,
        8220.29605097,  6726.19442041,  9894.31482285,  8849.10211224,
        9786.78295124, 10266.68710601, 10381.70016331,  9987.96295171,
        9336.48059884,  9902.06741269,  9113.67904563, 10146.13977982,
        7834.49807285,  6055.08545354,  8826.96147312, 10301.7066797 ,
        5659.99391535, 10072.98548703,  9595.16528884,  7701.61415438,
        9322.76211294,  7420.24565273, 10396.92790457, 10007.92806874,
       10571.85973862,  9890.29188291,  9995.37951955,  6331.96373155,
       10428.57260429,  9981.01157191, 10477.97512338,  9588.47277149,
        9794.44558481,  6214.01389332,  8011.47993155, 10289.05020382,
        6350.17571795,  7445.83535472,  9950.52381941,  6752.52821168,
        7802.46366176,  5293.69820862,  4481.83857378,  8742.32066629,
        6933.30709438,  7471.88023684,  6866.71816343,  7150.71131658,
        9981.85629046,  8787.40662472,  9334.70185937, 10377.20294568,
       10026.38225401, 10336.703688  ,  9799.43502521,  5810.88067425,
        9708.62139851,  7741.66386171,  5575.23571398,  4928.19111591,
        9767.92200311,  9225.60778739, 10071.20585071,  6265.48393139,
        8579.95887715, 10436.56472356,  5157.67552739, 10120.71319867,
        6291.60166818, 10020.22289615,  8247.8103646 , 10337.01570195])

In [190]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred_elastic)

0.8429739684420192

In [191]:
from sklearn.metrics import mean_squared_error
elastic_Error=mean_squared_error(y_pred_elastic,y_test)
elastic_Error

576668.2037947337

In [192]:
Results=pd.DataFrame(columns=['Actual','predicted'])
Results['Actual']=y_test
Results['Predicted']=y_pred_elastic
Results=Results.reset_index()
Results['Id']=Results.index
Results

     index  Actual predicted     Predicted   Id
0      481    7900       NaN   5818.881556    0
1       76    7900       NaN   7251.607401    1
2     1502    9400       NaN   9741.375483    2
3      669    8500       NaN   9798.175632    3
4     1409    9700       NaN  10054.186569    4
..     ...     ...       ...           ...  ...
503    291   10900       NaN  10120.713199  503
504    596    5699       NaN   6291.601668  504
505   1489    9500       NaN  10020.222896  505
506   1436    6990       NaN   8247.810365  506
507    575   10900       NaN  10337.015702  507

[508 rows x 5 columns]